<header>
  <button id="mobile-menu-open" class="open material-symbols-outlined">
    menu
  </button>
  <a href="/index.html" id="logo">
    <img src="/public/store_icon.svg" alt="GameStore logo" />
  </a>
  <form id="search">
    <input type="text" name="" id="" placeholder="Search" />
    <input type="submit" class="material-symbols-outlined" value="search" />
  </form>
  <div id="header-col-3">
    <a href="/html/404.html" id="account" aria-label="Account">
      <div class="material-symbols-outlined">account_circle</div>
    </a>
    <a href="/html/cartPage.html" id="cart">
      <div class="material-symbols-outlined">shopping_cart</div>
      <p>1</p>
    </a>
  </div>
</header>
<nav>
  <ul>
    <li>
      <a href="/html/search.html?platform=ps5&platform=ps4">Playstation</a>
    </li>
    <li><a href="/html/search.html?platform=ns">Switch</a></li>
    <li><a href="/html/search.html?platform=xbox">XBOX</a></li>
    <li><a href="/html/search.html?platform=pc">PC</a></li>
  </ul>
</nav>
<dialog closedby="any" id="mobile-nav-dialog">
  <div id="mobile-nav-wrapper">
    <button id="mobile-menu-close" aria-label="Close Menu">
      <span class="material-symbols-outlined"> close </span>
    </button>
    <div class="nav-dialog-pg">
      <section>
        <h2>Menu</h2>
        <ul>
          <li><a href="/html/404.html">Account</a></li>
          <li><a href="/html/404.html">Logout</a></li>
          <li><a href="/html/cartPage.html">Cart</a></li>
        </ul>
      </section>
      <section id="mobile-nav-shop-by-platform">
        <h2>Shop By Platform</h2>
        <ul>
          <li>
            <a
              href="/html/search.html?platform=ps5&platform=ps4"
              aria-label="Show More Playstation"
              role="button"
            >
              Playstation
            </a>
          </li>
          <li>
            <a
              href="/html/search.html?platform=ns"
              aria-label="Show More Switch"
              role="button"
            >
              Switch
            </a>
          </li>
          <li>
            <a
              href="/html/search.html?platform=xbox"
              aria-label="Show More X-Box"
              role="button"
            >
              XBOX
            </a>
          </li>
          <li>
            <a
              href="/html/search.html?platform=pc"
              aria-label="Show More PC"
              role="button"
              >PC
            </a>
          </li>
        </ul>
      </section>
    </div>
  </div>
</dialog>
